//color
$Solid_Primary_1000: #100042;
$Solid_Primary_900: #150253;
$Solid_Primary_800: #270b80;
$Solid_Primary_700: #4123a4;
$Solid_Primary_600: #5125df;
$Solid_Primary_500: #5e31ff;
$Solid_Primary_400: #845eff;
$Solid_Primary_300: #a589ff;
$Solid_Primary_200: #d5c8ff;
$Solid_Primary_100: #efeaff;

$Grey_Scale_1000: #121212;
$Grey_Scale_900: #1a1a1a;
$Grey_Scale_800: #212121;
$Grey_Scale_700: #3e3e3e;
$Grey_Scale_600: #565656;
$Grey_Scale_500: #7e7e7e;
$Grey_Scale_400: #bfbfbf;
$Grey_Scale_300: #dedede;
$Grey_Scale_200: #efefef;
$Grey_Scale_100: #f8f8f8;

$Grey_Scale_Black: #000000;
$Grey_Scale_White: #ffffff;
$Solid_Secondary_Grey: #212121;

$Solid_Red_500: #fb4a4a;

$SOLID_Deep_Green_500: #1ab17b;

//gradient
$Solid_gradient_Primary: linear-gradient(113deg, #5e31ff 4.32%, #ff51ee 100%);
$Solid_gradient_Secondary: linear-gradient(115deg, #6032ff 3.74%, #3aec6c 100%);
$Solid_gradient_Tertiary: linear-gradient(256deg, #ffcd1e 8.55%, #ec3a3a 100%);
